<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="c1cf1f86-1d66-48e7-9fc4-a50aba3bfb64" Publisher="CN=vtalegaonkar" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AssistantKaka.Windows</DisplayName>
    <PublisherDisplayName>vtalegaonkar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AssistantKaka.Windows.App">
      <m2:VisualElements DisplayName="AssistantKaka.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="AssistantKaka.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:DefaultTile DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="default" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AssistantKaka.App">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>